body{
    background-color: #222021;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}
h1{
    font-size: 1.5em;
    margin-top: 0.75em;
}
h2{
    font-size: 1em;
    margin: 1em 0;
}
.calculator{
    background-color: #798584;
    padding: 2.5em;
}
.row{
    height: 1em;
    margin: 1em 0;
}
input{
    height: 2.25em;
    border-radius: 0;
    border: 0;
    margin: 0.5em 0;
    padding: 0 0.5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
.btn{
    background-color: #b6b7b7;
    height: 2.25em;
    border: 0;
    border-radius: 0;
    color: #555;
    margin-bottom: 1.5em;
}
.btn:hover{
    background-color: #545a5a;
    color: #fff;
}
.btn:focus{
    box-shadow: 0;
}
table>tbody>tr>td:first-child{
    text-align: left;
    color:#dee4e4;
}
table>tbody>tr>td:last-child{
    text-align: right;
    color:#fff;
}

